<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- Header -->

    <header>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="">Clock In/Out</a></li>
                <li class="nav-item"><a href="">Graph</a></li>
                <li class="nav-item"><a href="">Daily Report</a></li>
                <li class="nav-item"><a href="">Settings</a></li>
                <li class="nav-item"><a href="">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Profile -->

    <div class="profile-box">
        <div class="profile-info">
            <img class="profile-img" src="{% static 'img/profilepic.png' %}" alt="">
            <h3 class="profile-name">{{ current_user_name }}</h3>
        </div>
        <div class="time-box">
            <h3>Real time | Real date</h3>
            <button>Clock In</button>
        </div>
        <div class="point-box">
            <p>My Points</p>
            <h1>95</h1>
        </div>
    </div>

    <!-- Info -->

    <div class="info-container">

    </div>
</body>

</html>